<table class="table table-striped-columns">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Body</th>
    </tr>
  </thead>
    <tr>
      <td><%= @article.title %></td>
      <td><%= @article.body %></td>
    </tr>
</table>

<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render "comments/form", article: @article %>
