<table class="table table-striped-columns">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Body</th>
    </tr>
  </thead>
    <tr>
      <td><%= @article.title %></td>
      <td><%= @article.body %></td>
    </tr>
</table>
