<table class="table">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Body</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
    <tbody>
      <tr>
        <td><%= @article.title %></td>
        <td><%= @article.body %></td>
      </tr>
    </tbody>
</table>
<%= render "comments/form" %>
<%= render "comments/comments" %>
